<div fxlayout="row" fxlayout.lt-md="column" fxlayoutalign="start stretch" fxlayoutgap="20px">
  <aside fxflex="300px">
    <nav class="mdl-navigation">
      <ul>
        <li><a mat-button (click)="scrollToElement(collect)">Ce que nous collectons</a></li>
        <li><a mat-button (click)="scrollToElement(use)">Comment nous utlisons les informations vous concernant</a></li>
        <li><a mat-button (click)="scrollToElement(shared)">Comment les informations vous concernant sont partagées</a></li>
        <li><a mat-button (click)="scrollToElement(partners)">Annonce et partenaire d'analyse</a></li>
        <li><a mat-button (click)="scrollToElement(other)">Les autres informations</a></li>
        <li><a mat-button (click)="scrollToElement(contact)">Nous contacter</a></li>
      </ul>
    </nav>
  </aside>
  <main fxflex="1 1 auto">
    <section>
      <h1>Politique privée</h1>
      <h3>En vigueur le 11 mars 2020. Dernière révision le 11 mars 2020</h3>
      <p>La société FocusIT exploite le site https://drawing-of-lot.ifocusit.ch, qui fournit les Services.</p>
      <p>
        Cette page est utilisée pour informer les utilisateurs du Service de nos politiques concernant la collecte, l'utilisation et la
        divulgation des informations personnelles si quelqu'un décide d'utiliser nos Services.
      </p>
      <p>
        Si vous choisissez d'utiliser notre Service, vous acceptez la collecte et l'utilisation d'informations en relation avec cette
        politique. Les informations personnelles que nous collectons sont utilisées pour fournir et améliorer les services. Nous
        n'utiliserons ni ne partagerons vos informations avec personne, sauf comme décrit dans la présente politique de confidentialité.
      </p>
      <p>
        Les termes utilisés dans cette politique de confidentialité ont la même signification que dans nos conditions générales, qui est
        accessible à https://drawing-of-lot.ifocusit.ch/term-of-service, sauf indication contraire dans la présente politique de
        confidentialité.
      </p>
    </section>
    <section>
      <h1>Ce que nous collectons</h1>
      <h3>Informations que vous nous fournissez</h3>
      <p>Nous collectons les informations que vous nous fournissez directement lorsque vous utilisez les Services. Ceci comprend:</p>
      <ul>
        <li>
          Information sur le compte. Pour créer un compte, vous devez fournir un nom d'utilisateur et un mot de passe. Votre nom
          d'utilisateur est public et n'a pas à être lié à votre vrai nom. Vous pouvez également fournir une adresse e-mail. Nous stockons
          également les préférences et les paramètres de votre compte utilisateur.
        </li>
        <li>Contenu que vous soumettez. Nous collectons le contenu que vous soumettez aux Services.</li>
        <li>
          Actions que vous entreprenez. Nous collectons des informations sur les actions que vous entreprenez lors de l'utilisation des
          Services. Cela inclut vos interactions avec le contenu.
        </li>
      </ul>
      <h3>Informations que nous collectons automatiquement</h3>
      <p>
        Lorsque vous accédez ou utilisez nos Services, nous pouvons également collecter automatiquement des informations vous concernant.
        Ceci comprend:
      </p>
      <p>
        Journal et données d'utilisation. Nous pouvons enregistrer des informations lorsque vous accédez et utilisez les Services. Cela peut
        inclure votre adresse IP, la chaîne de l'agent utilisateur, le type de navigateur, le système d'exploitation, les URL de référence,
        les informations sur le périphérique (par exemple, les ID de périphérique), les pages visitées, les liens cliqués, l'URL demandée,
        les paramètres matériels et les termes de recherche.
      </p>
      <h3>Informations recueillies auprès d'autres sources</h3>
      <p>
        Nous pouvons recevoir des informations vous concernant d'autres sources, y compris d'autres utilisateurs et de tiers, et combiner
        ces informations avec les autres informations que nous avons sur vous. Par exemple, nous pouvons recevoir des informations
        démographiques ou d'intérêt vous concernant de la part de tiers, y compris des annonceurs, et les combiner avec nos propres données
        en utilisant un identifiant de compte commun tel qu'un hachage d'une adresse e-mail ou un ID d'appareil mobile. Vous pouvez
        contrôler la façon dont nous utilisons ces informations pour personnaliser les Services pour vous en ajustant vos préférences ici.
      </p>
      <p>
        Services liés. Si vous autorisez ou liez d'autres services (par exemple, des applications ou des sites Web tiers) pour accéder à
        votre compte de service, le service reçoit des informations sur votre utilisation de ce service lorsqu'il utilise cette
        autorisation. La liaison de services peut également amener l'autre service à nous envoyer des informations sur votre compte auprès
        de ce service. Pour savoir comment les informations sont partagées avec les services liés, voir «Comment les informations vous
        concernant sont partagées» ci-dessous.
      </p>
      <p>
        Informations collectées à partir des intégrations. Nous pouvons également recevoir des informations vous concernant, y compris des
        données de journal et d'utilisation et des informations sur les cookies, de sites Web tiers qui intègrent nos services, y compris
        nos incorporations, boutons et technologies publicitaires. Par exemple, lorsque vous visitez un site Web qui utilise des
        intégrations de service, nous pouvons recevoir des informations sur la page Web que vous avez visitée. Vous pouvez contrôler la
        façon dont nous utilisons ces informations pour personnaliser les Services pour vous en ajustant vos préférences ici.
      </p>
    </section>
    <section>
      <h1>Comment nous utilisons les informations vous concernant</h1>
      <h3>Nous utilisons les informations vous concernant pour:</h3>
      <ul>
        <li>Fournir, maintenir et améliorer les Services;</li>
        <li>Rechercher et développer de nouveaux services;</li>
        <li>
          Aider à protéger la sécurité du Service et de nos utilisateurs, ce qui comprend le blocage des spammeurs suspects, la lutte contre
          les abus et l'application du contrat d'utilisation du Service et de nos autres politiques;
        </li>
        <li>
          Vous envoyer des avis techniques, des mises à jour, des alertes de sécurité, des factures et d'autres messages d'assistance et
          administratifs;
        </li>
        <li>Fournir un service client;</li>
        <li>
          Communiquer avec vous au sujet des produits, services, offres, promotions et événements, et fournir d'autres nouvelles et
          informations qui, selon nous, pourraient vous intéresser (pour plus d'informations sur la façon de vous désinscrire de ces
          communications, voir «Vos choix» ci-dessous);
        </li>
        <li>Surveiller et analyser les tendances, l'utilisation et les activités liées à nos services; et</li>
        <li>
          Personnalisez les Services et fournissez des publicités, du contenu et des fonctionnalités qui correspondent aux profils ou aux
          intérêts des utilisateurs. (pour plus d'informations sur la gestion des types de publicités que vous consultez sur nos Services,
          voir «Vos choix» ci-dessous)
        </li>
      </ul>
    </section>
    <section>
      <h1>Comment les informations vous concernant sont partagées</h1>
      <h3>Rien n'est partagé!</h3>
      <p>Nous ne soumettons rien à personne</p>
    </section>
    <section>
      <h1>Annonces et partenaires d'analyse</h1>
      <h3>Aucune annonce n'est affichée</h3>
      <h3>Partenaires Analytics</h3>
      <p>
        Nous utilisons des partenaires d'analyse (tels que
        <a href="https://www.google.com/policies/privacy/partners/">Google Analytics</a> ) pour aider à analyser l'utilisation et le trafic
        de nos services. À titre d'exemple, nous pouvons utiliser des partenaires d'analyse pour analyser et mesurer, dans l'ensemble, le
        nombre de visiteurs uniques à nos Services.
      </p>
    </section>
    <section>
      <h1>les autres informations</h1>
      <h3>Sécurité de l'information</h3>
      <p>
        Nous prenons des mesures pour aider à protéger les informations vous concernant contre la perte, le vol, la mauvaise utilisation et
        l'accès, la divulgation, la modification et la destruction non autorisés. Par exemple, nous utilisons HTTPS pendant la transmission
        des informations. Nous appliquons également des contrôles d'accès techniques et administratifs pour limiter lesquels de nos employés
        ont accès à des informations personnelles non publiques.
      </p>
      <h3>La conservation des données</h3>
      <p>
        Nous conservons les informations que nous collectons aussi longtemps que cela est nécessaire aux fins pour lesquelles nous les avons
        initialement collectées. Nous pouvons conserver certaines informations à des fins commerciales légitimes ou conformément à la loi.
      </p>
      <h3>Les enfants</h3>
      <p>
        Les enfants de moins de 13 ans ne sont pas autorisés à créer un compte ou autrement utiliser les Services. De plus, si vous êtes
        dans l'EEE, vous devez avoir dépassé l'âge requis par les lois de votre pays pour créer un compte ou utiliser les Services d'une
        autre manière, ou nous devons avoir obtenu le consentement vérifiable de votre parent ou tuteur légal.
      </p>
      <h3>Changements à cette politique</h3>
      <p>
        Nous pouvons modifier cette politique de confidentialité de temps en temps. Si nous le faisons, nous vous le ferons savoir en
        révisant la date en haut de la police. Si nous apportons une modification à cette politique qui, à notre seule discrétion, est
        importante, nous vous fournirons un avis supplémentaire (comme l'ajout d'une déclaration aux annonces, la première page des Services
        ou l'envoi d'une notification). Nous vous encourageons à consulter la politique de confidentialité chaque fois que vous accédez ou
        utilisez nos services ou interagissez avec nous pour rester informé de nos pratiques en matière d'informations et des moyens par
        lesquels vous pouvez contribuer à protéger votre vie privée. En continuant à utiliser nos services après l'entrée en vigueur des
        modifications de la politique de confidentialité, vous acceptez d'être lié par la politique révisée.
      </p>
    </section>
    <section>
      <h1>Nous contacter</h1>
      <p>
        Pour envoyer une demande concernant la RGPD ou une demande concernant l'ACCP, écrivez nous à l'adresse de messagerie ci-dessous.
      </p>
      <p>Si vous avez d'autres questions sur cette politique de confidentialité, veuillez nous contacter à julienboz@gmail.com</p>
    </section>
  </main>
</div>
