<div fxLayout="row" fxLayout.lt-md="column" fxLayoutAlign="start stretch" fxLayoutGap="20px">
  <aside fxFlex="300px">
    <nav class="mdl-navigation">
      <ul>
        <li><a mat-button (click)="scrollToElement(collect)">What We Collect</a></li>
        <li><a mat-button (click)="scrollToElement(use)">How We Use Information About You</a></li>
        <li><a mat-button (click)="scrollToElement(shared)">How Information About You is Shared</a></li>
        <li><a mat-button (click)="scrollToElement(partners)">Ads and Analytics Partners</a></li>
        <li><a mat-button (click)="scrollToElement(other)">Other Information</a></li>
        <li><a mat-button (click)="scrollToElement(contact)">Contact Us</a></li>
      </ul>
    </nav>
  </aside>
  <main fxFlex="1 1 auto">
    <section>
      <h1>Private Policy</h1>
      <h3>Effective February 23, 2020. Last Revised February 23, 2020</h3>
      <p>FocusIT company operates the https://drawing-of-lot.ifocusit.ch website, which provides the Services.</p>
      <p>
        This page is used to inform Service's users regarding our policies with the collection, use, and disclosure of Personal Information
        if anyone decided to use our Services.
      </p>
      <p>
        If you choose to use our Service, then you agree to the collection and use of information in relation with this policy. The Personal
        Information that we collect are used for providing and improving the Services. We will not use or share your information with anyone
        except as described in this Privacy Policy.
      </p>
      <p>
        The terms used in this Privacy Policy have the same meanings as in our Terms and Conditions, which is accessible at
        https://drawing-of-lot.ifocusit.ch/term-of-service, unless otherwise defined in this Privacy Policy.
      </p>
    </section>
    <section #collect>
      <h1>What We Collect</h1>
      <h3>Information You Provide to Us</h3>
      <p>We collect information you provide to us directly when you use the Services. This includes:</p>
      <ul>
        <li>
          Account information. To create an account, you must provide a username and password. Your username is public, and it doesn’t have
          to be related to your real name. You may also provide an email address. We also store your user account preferences and settings.
        </li>
        <li>Content you submit. We collect the content you submit to the Services.</li>
        <li>
          Actions you take. We collect information about the actions you take when using the Services. This includes your interactions with
          content.
        </li>
      </ul>
      <h3>Information We Collect Automatically</h3>
      <p>When you access or use our Services, we may also automatically collect information about you. This includes:</p>
      <p>
        Log and usage data. We may log information when you access and use the Services. This may include your IP address, user-agent
        string, browser type, operating system, referral URLs, device information (e.g., device IDs), pages visited, links clicked, the
        requested URL, hardware settings, and search terms.
      </p>
      <h3>Information Collected from Other Sources</h3>
      <p>
        We may receive information about you from other sources, including from other users and third parties, and combine that information
        with the other information we have about you. For example, we may receive demographic or interest information about you from third
        parties, including advertisers, and combine it with our own data using a common account identifier such as a hash of an email
        address or a mobile-device ID. You can control how we use this information to personalize the Services for you by adjusting your
        preferences here.
      </p>
      <p>
        Linked services. If you authorize or link other services (e.g., third-party apps or websites) to access your Service account,
        Service receives information about your use of that service when it uses that authorization. Linking services may also cause the
        other service to send us information about your account with that service. To learn how information is shared with linked services,
        see “How Information About You Is Shared” below.
      </p>
      <p>
        Information collected from integrations. We also may receive information about you, including log and usage data and cookie
        information, from third-party websites that integrate our Services, including our embeds, buttons, and advertising technology. For
        example, when you visit a website that uses Service embeds, we may receive information about the web page you visited. You can
        control how we use this information to personalize the Services for you by adjusting your preferences here.
      </p>
    </section>
    <section #use>
      <h1>How We Use Information About You</h1>
      <h3>We use information about you to:</h3>
      <ul>
        <li>Provide, maintain, and improve the Services;</li>
        <li>Research and develop new services;</li>
        <li>
          Help protect the safety of Service and our users, which includes blocking suspected spammers, addressing abuse, and enforcing the
          Service user agreement and our other policies;
        </li>
        <li>Send you technical notices, updates, security alerts, invoices and other support and administrative messages;</li>
        <li>Provide customer service;</li>
        <li>
          Communicate with you about products, services, offers, promotions, and events, and provide other news and information we think
          will be of interest to you (for information about how to opt out of these communications, see “Your Choices” below);
        </li>
        <li>Monitor and analyze trends, usage, and activities in connection with our Services; and</li>
        <li>
          Personalize the Services and provide advertisements, content and features that match user profiles or interests. (for information
          about how to manage the types of advertisements you experience on our Services, see “Your Choices” below)
        </li>
      </ul>
    </section>
    <section #shared>
      <h1>How Information About You Is Shared</h1>
      <h3>Nothing is shared !</h3>
      <p>We submit nothing to anybody</p>
    </section>
    <section #partners>
      <h1>Ads and Analytics Partners</h1>
      <h3>No ads are displayed</h3>
      <h3>Analytics Partners</h3>
      <p>
        We use analytics partners (such as
        <a href="https://www.google.com/policies/privacy/partners/">Google Analytics</a>) to help analyze usage and traffic for our
        Services. As an example, we may use analytics partners to analyze and measure, in the aggregate, the number of unique visitors to
        our Services.
      </p>
    </section>
    <section #other>
      <h1>Other Information</h1>
      <h3>Information Security</h3>
      <p>
        We take measures to help protect information about you from loss, theft, misuse and unauthorized access, disclosure, alteration, and
        destruction. For example, we use HTTPS while information is being transmitted. We also enforce technical and administrative access
        controls to limit which of our employees have access to non-public personal information.
      </p>
      <h3>Data Retention</h3>
      <p>
        We store the information we collect for as long as it is necessary for the purpose(s) for which we originally collected it. We may
        retain certain information for legitimate business purposes or as required by law.
      </p>
      <h3>Children</h3>
      <p>
        Children under the age of 13 are not allowed to create an account or otherwise use the Services. Additionally, if you are in the
        EEA, you must be over the age required by the laws of your country to create an account or otherwise use the Services, or we need to
        have obtained verifiable consent from your parent or legal guardian.
      </p>
      <h3>Changes to This Policy</h3>
      <p>
        We may change this Privacy Policy from time to time. If we do, we will let you know by revising the date at the top of the policy.
        If we make a change to this policy that, in our sole discretion, is material, we will provide you with additional notice (such as
        adding a statement to r/announcements, the front page of the Services or sending you a notification). We encourage you to review the
        Privacy Policy whenever you access or use our Services or otherwise interact with us to stay informed about our information
        practices and the ways you can help protect your privacy. By continuing to use our Services after Privacy Policy changes go into
        effect, you agree to be bound by the revised policy.
      </p>
    </section>
    <section #contact>
      <h1>Contact Us</h1>
      <p>
        To send a GDPR data subject request or CCPA consumer request, follow the steps in the “Other Information - Data Subject and Consumer
        Information Requests” section above.
      </p>
      <p>If you have other questions about this Privacy Policy, please contact us at julienboz@gmail.com</p>
    </section>
  </main>
</div>
