<div fxLayout="row" fxLayout.lt-md="column" fxLayoutAlign="start stretch" fxLayoutGap="20px">
  <aside fxFlex="300px">
    <nav class="mdl-navigation">
      <ul>
        <li><a mat-button (click)="scrollToElement(access)">1. Your Access to the Services</a></li>
        <li><a mat-button (click)="scrollToElement(use)">2. Your Use of the Services</a></li>
        <li><a mat-button (click)="scrollToElement(shared)">3. Your Account and Account Security</a></li>
        <li><a mat-button (click)="scrollToElement(content)">4. Your Content</a></li>
        <li><a mat-button (click)="scrollToElement(indemnity)">5. Indemnity</a></li>
        <li><a mat-button (click)="scrollToElement(disclaimers)">6. Disclaimers</a></li>
        <li><a mat-button (click)="scrollToElement(limitation)">7. Limitation of Liability</a></li>
        <li><a mat-button (click)="scrollToElement(law)">8. Governing Law and Venue</a></li>
        <li><a mat-button (click)="scrollToElement(changes)">9. Changes to these Terms</a></li>
        <li><a mat-button (click)="scrollToElement(termination)">10. Termination</a></li>
        <li><a mat-button (click)="scrollToElement(miscellaneous)">11. Miscellaneous</a></li>
      </ul>
    </nav>
  </aside>
  <main fxFlex="1 1 auto">
    <section>
      <h1>Tirage au sort User Agreement</h1>
      <h3>Effective {{ lastRevised }}.</h3>
    </section>
    <section #access>
      <h1>Your Access to the Services</h1>
      <p>
        Children under the age of 13 are not allowed to create an account or otherwise use the Services. Additionally, if you are in the
        European Economic Area, you must be over the age required by the laws of your country to create an account or otherwise use the
        Services, or we need to have received verifiable consent from your parent or legal guardian.
      </p>
      <p>
        In addition, certain of our Services or portions of our Services require you to be older than 13 years of age, so please read all
        notices and any Additional Terms carefully when you access the Services.
      </p>
      <p>
        If you are accepting these Terms on behalf of another legal entity, including a business or a government, you represent that you
        have full legal authority to bind such entity to these terms.
      </p>
    </section>
    <section #use>
      <h1>Your Use of the Services</h1>
      <p>
        Service grants you a personal, non-transferable, non-exclusive, revocable, limited license to use and access the Services solely as
        permitted by these Terms. We reserve all rights not expressly granted to you by these Terms.
      </p>
    </section>
    <section #account>
      <h1>3. Your Account and Account Security</h1>
      <p>
        To use certain features of our Services, you may be required to create an account (an "Account") and provide us with a username,
        password, and certain other information about yourself as set forth in the <a href="/private-policy">Privacy Policy</a>.
      </p>
      <p>
        You are solely responsible for the information associated with Your Account and anything that happens related to Your Account. You
        must maintain the security of your Account and promptly notify Services if you discover or suspect that someone has accessed your
        Account without your permission. We recommend that you use a strong password that is used only with the Services.
      </p>
      <p>You will not license, sell, or transfer your Account without our prior written approval.</p>
    </section>
    <section #content>
      <h1>4. Your Content</h1>
      <p>
        By submitting Your Content to the Services, you represent and warrant that you have all rights, power, and authority necessary to
        grant the rights to Your Content contained within these Terms. Because you alone are responsible for Your Content, you may expose
        yourself to liability if you post or share Content without all necessary rights.
      </p>
    </section>
    <section #indemnity>
      <h1>5. Indemnity</h1>
      <p>
        Except to the extent prohibited by law, you agree to defend, indemnify, and hold us, our licensors, our third party service
        providers and our officers, employees, licensors, and agents (the “Services Entities”) harmless, including costs and attorneys’
        fees, from any claim or demand made by any third party due to or arising out of (a) your use of the Services, (b) your violation of
        these Terms, (c) your violation of applicable laws or regulations, or (d) Your Content. We reserve the right to control the defense
        of any matter for which you are required to indemnify us, and you agree to cooperate with our defense of these claims.
      </p>
    </section>
    <section #disclaimers>
      <h1>6. Disclaimers</h1>
      <p>
        THE SERVICES ARE PROVIDED "AS IS" AND "AS AVAILABLE" WITHOUT WARRANTIES OF ANY KIND, EITHER EXPRESS OR IMPLIED, INCLUDING, BUT NOT
        LIMITED TO, IMPLIED WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE, AND NON-INFRINGEMENT. SERVICE, ITS LICENSORS,
        AND ITS THIRD PARTY SERVICE PROVIDERS DO NOT WARRANT THAT THE SERVICES ARE ACCURATE, COMPLETE, RELIABLE, CURRENT, OR ERROR FREE.
        SERVICE DOES NOT CONTROL, ENDORSE, OR TAKE RESPONSIBILITY FOR ANY CONTENT AVAILABLE ON OR LINKED TO THE SERVICES OR THE ACTIONS OF
        ANY THIRD PARTY OR USER, INCLUDING MODERATORS. WHILE SERVICE ATTEMPTS TO MAKE YOUR ACCESS TO AND USE OF OUR SERVICES SAFE, WE DO NOT
        REPRESENT OR WARRANT THAT OUR SERVICES OR SERVERS ARE FREE OF VIRUSES OR OTHER HARMFUL COMPONENTS.
      </p>
    </section>
    <section #limitation>
      <h1>7. Limitation of Liability</h1>
      <p>
        IN NO EVENT AND UNDER NO THEORY OF LIABILITY, INCLUDING CONTRACT, TORT, NEGLIGENCE, STRICT LIABILITY, WARRANTY, OR OTHERWISE, WILL
        THE SERVICE ENTITIES BE LIABLE TO YOU FOR ANY INDIRECT, CONSEQUENTIAL, EXEMPLARY, INCIDENTAL, SPECIAL, OR PUNITIVE DAMAGES, OR LOST
        PROFITS ARISING FROM OR RELATING TO THESE TERMS OR THE SERVICES, INCLUDING THOSE ARISING FROM OR RELATING TO CONTENT MADE AVAILABLE
        ON THE SERVICES THAT IS ALLEGED TO BE DEFAMATORY, OFFENSIVE, OR ILLEGAL. ACCESS TO, AND USE OF, THE SERVICES IS AT YOUR OWN
        DISCRETION AND RISK, AND YOU WILL BE SOLELY RESPONSIBLE FOR ANY DAMAGE TO YOUR DEVICE OR COMPUTER SYSTEM, OR LOSS OF DATA RESULTING
        THEREFROM. IN NO EVENT WILL THE AGGREGATE LIABILITY OF THE SERVICE ENTITIES EXCEED THE GREATER OF ONE HUNDRED U.S. DOLLARS ($100) OR
        ANY AMOUNT YOU PAID SERVICE IN THE PREVIOUS SIX MONTHS FOR THE SERVICES GIVING RISE TO THE CLAIM. THE LIMITATIONS OF THIS SECTION
        WILL APPLY TO ANY THEORY OF LIABILITY, INCLUDING THOSE BASED ON WARRANTY, CONTRACT, STATUTE, TORT (INCLUDING NEGLIGENCE) OR
        OTHERWISE, AND EVEN IF THE SERVICE ENTITIES HAVE BEEN ADVISED OF THE POSSIBILITY OF ANY SUCH DAMAGE, AND EVEN IF ANY REMEDY SET
        FORTH HEREIN IS FOUND TO HAVE FAILED ITS ESSENTIAL PURPOSE. THE FOREGOING LIMITATION OF LIABILITY WILL APPLY TO THE FULLEST EXTENT
        PERMITTED BY LAW IN THE APPLICABLE JURISDICTION.
      </p>
    </section>
    <section #law>
      <h1>8. Governing Law and Venue</h1>
      <p>
        We want you to enjoy SERVICE, so if you have an issue or dispute, you agree to raise it and try to resolve it with us informally.
        You can contact us with feedback and concerns here or by emailing us at contact@ifocusit.ch.
      </p>
      <p>
        Except for the government entities listed below: any claims arising out of or relating to these Terms or the Services will be
        governed by the laws of California, other than its conflict of laws rules; all disputes related to these Terms or the Services will
        be brought solely in the federal or state courts located in San Francisco, California; and you consent to personal jurisdiction in
        these courts.
      </p>
      <h3>Government Entities</h3>
      <p>
        If you are a U.S. city, county, or state government entity, then this Section 13 does not apply to you.
      </p>
      <p>
        If you are a U.S. federal government entity: any claims arising out of or relating to these Terms or the Services will be governed
        by the laws of the United States of America without reference to conflict of laws. To the extent permitted by federal law, the laws
        of California (other than its conflict of law rules) will apply in the absence of applicable federal law. All disputes related to
        these Terms or the Services will be brought solely in the federal or state courts located in San Francisco, California.
      </p>
    </section>
    <section #changes>
      <h1>9. Changes to these Terms</h1>
      <p>
        We may make changes to these Terms from time to time. If we make changes, we will post the amended Terms to our Services and update
        the Effective Date above. If the changes, in our sole discretion, are material, we may also notify you by sending an email to the
        address associated with your Account (if you have chosen to provide an email address) or by otherwise providing notice through our
        Services. By continuing to access or use the Services on or after the Effective Date of the revised Terms, you agree to be bound by
        the revised Terms. If you do not agree to the revised Terms, you must stop accessing and using our Services before the changes
        become effective.
      </p>
    </section>
    <section #termination>
      <h1>10. Termination</h1>
      <p>
        You may terminate these Terms at any time and for any reason by deleting your Account and discontinuing your use of all Services. If
        you stop using the Services without deactivating your Accounts, your Accounts may be deactivated due to prolonged inactivity.
      </p>
      <p>
        We may suspend or terminate your Accounts, status as a moderator, or ability to access or use the Services at any time for any or no
        reason, including for a violation of these Terms or our <a href="/private-policy">Content Policy</a>.
      </p>
      <p>
        The following sections will survive any termination of these Terms or of your Accounts: 4 (Your Content), 6 (Things You Cannot Do),
        10 (Indemnity), 11 (Disclaimers), 12 (Limitation of Liability), 13 (Governing Law and Venue), 16 (Termination), and 17
        (Miscellaneous).
      </p>
    </section>
    <section #miscellaneous>
      <h1>11. Miscellaneous</h1>
      <p>
        These Terms constitute the entire agreement between you and us regarding your access to and use of the Services. Our failure to
        exercise or enforce any right or provision of these Terms will not operate as a waiver of such right or provision. If any provision
        of these Terms is, for any reason, held to be illegal, invalid or unenforceable, the rest of the Terms will remain in effect. You
        may not assign or transfer any of your rights or obligations under these Terms without our consent. We may freely assign these
        Terms.
      </p>
    </section>
  </main>
</div>
