mat-toolbar {
  a {
    text-align: start;
  }
}

mat-card-actions {
  position: fixed;
  top: 4em;
  right: 2em;
}

table {
  width: 100%;

  .group-name {
    cursor: pointer;
  }
}

td.mat-column-length {
  width: 50px;
}

td.mat-column-actions {
  width: 120px;
}
