<div fxLayout="column" fxLayoutGap="2em" class="container">
  <mat-toolbar color="primary" class="mat-elevation-z8">
    <button mat-icon-button [routerLink]="['/groups']"><mat-icon>arrow_back</mat-icon></button>
    <a mat-button routerLink="/" routerLinkActive="active" fxFlex="1 1 auto">Tirage au sort</a>
    <button mat-button (click)="logout()" title="Déconnection"><mat-icon>exit_to_app</mat-icon></button>
  </mat-toolbar>

  <div fxLayout="column" fxLayoutGap="2em" class="content">
    <div [formGroup]="form" fxLayout="column" fxLayoutGap="2em">
      <mat-card formGroupName="group" *ngIf="group$ | async" class="mat-elevation-z5">
        <mat-card-content>
          <mat-form-field fxFlex="1 1 auto">
            <input matInput placeholder="Nom du groupe" formControlName="name" />
          </mat-form-field>
        </mat-card-content>
      </mat-card>

      <mat-card formGroupName="member" class="mat-elevation-z5">
        <mat-card-actions fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="10px">
          <mat-form-field fxFlex="1 1 auto">
            <input matInput placeholder="Nom du nouveau membre" formControlName="label" autofocus (keyup.enter)="addMember()" />
          </mat-form-field>
          <button mat-icon-button (click)="addMember()" color="primary"><mat-icon>add</mat-icon></button>
        </mat-card-actions>
        <mat-card-content class="scrollbar">
          <mat-list>
            <mat-list-item *ngFor="let member of members$ | async" fxLayoutGap="10px">
              <span fxFlex="1 1 auto">{{ member.label }}</span>
              <button mat-icon-button (click)="deleteMember(member)"><mat-icon>delete</mat-icon></button>
            </mat-list-item>
          </mat-list>
        </mat-card-content>
      </mat-card>
    </div>

    <div fxLayout="row wrap" class="purposes">
      <mat-card *ngFor="let purpose of purposes$ | async" fxFlex="1 1 auto" class="mat-elevation-z0">
        <mat-card-header>
          <mat-card-title>Contexte de tirage au sort "{{ purpose.label }}"</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <mat-list>
            <div mat-subheader>Membres déjà tirés au sort :</div>
            <mat-list-item *ngFor="let member of purpose.uses$ | async">{{ member.label }}</mat-list-item>
          </mat-list>
        </mat-card-content>
        <mat-card-actions>
          <button mat-button (click)="deletePurpose(purpose)">SUPPRIMER</button>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
</div>
<button id="random" mat-raised-button color="accent" (click)="random()" title="Tirage au sort"><mat-icon>shuffle</mat-icon> Random</button>
